body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #343a40;
}

#navbar a {
	font-weight: 400;
    color: white;
    border-bottom: 0px;
}

.subtitle {
    margin-bottom: 10px;
}

a, a:hover {
    font-weight: 400;
    border-bottom: 1px dotted #aaa;
    color: #666;
    text-decoration: none;
}

dt, strong {
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
}

#title {
    font-family: 'Roboto', 'Poiret One', cursive;
    font-size: 32px;
    color: white;
}
