body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #343a40;
    padding: 26px;
}

#profile {
    padding: 0px;
}

#navbar {
    padding-bottom: 26px;
}

.left-panel {
    flex: 0 0 230px;
}

#navbar a {
	font-weight: 400;
    color: black;
    border-bottom: 0px;
}

.figure img {
    width: 250px;
}

.subtitle {
    margin-bottom: 10px;
}

a, a:hover {
    font-weight: 400;
    border-bottom: 1px dotted #aaa;
    color: #666;
    text-decoration: none;
}

dt, strong {
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
}

.hl {
    color: #3b2cff;
    font-weight: bold;
}

#title {
    font-family: 'Roboto', 'Poiret One', cursive;
    font-size: 32px;
    color: white;
}
